body {
  background-color: #F4F4F4;
  overflow: hidden;
}
.yourrugby-container {
  overflow: hidden;
}
.header {
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: white;
  padding-bottom: 5px;
}
.home {
  display: flex;
  margin-top: 60px;
}
.menu-container {
  margin-top: 70px;
}
.selected-video-container {
  display: flex;
  flex: 1;
  justify-content: center;
}
.yourrugby-container {
  width: 100%;
  margin-right: 5px;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
.video-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.video-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 115px;
  border: 1px solid #e3e3e3;
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  .video-infos {
    padding: 1em;
    p {
      font-weight: 600;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.video-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  .selected-videocard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px 50px 65px 50px;
    background-color: rgba(50, 22, 22, 0.1);
    border: 1px solid #e3e3e3;
    p {
      font-weight: 600;
      margin-bottom: 35px;
      margin-top: 15px;
    }
  }
}
.active {
  background-color: #333533;;
  padding: 8px 12px;
  border-radius: 4px;
  color: white !important;
  text-shadow: 1px 1px 1px #444444;
  box-shadow: 1px 1px 1px black;
  &:hover {
    text-shadow: none !important;
  }
}
.categories-container {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  p {
    padding: 8px 12px;
    border-radius: 4px;
    color: #333533;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      text-shadow: 1px 1px 1px #7F7B82;
    }
  }
}
